{% extends "templates/base.html" %}

{% block url_path %}{{ url }}{% endblock %}

{% block content_block %}
  <h1> {{ post.title }}</h1>
  <p>by {{ post.author }}, {{ post.date }}</p>

  {% if image %}
    <div class="row">
      <div class="column">
        <img src="/images/{{ image[0] }}" />
        {% if image_credit %}
          <p class="float-right">
            <em><small><a href="{{ image_credit[0] }}">
              {{ image_credit_words[0] if image_credit_words else "find out more about this image" }}
            </a></small></em></p>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="content">
    {{content}}
  </div>

  <div id="disqus_thread" style="margin: 10px"></div>
  <script>

  var disqus_config = function () {
    this.page.url = 'https://www.cosmicpython.com{{ url }}';
    this.page.identifier = 'cosmic-python-{{ url.replace("/", "-").replace(".html", "") }}';
  };

  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://cosmic-python.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40928035-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-40928035-3');
  </script>
{% endblock %}
