{% extends "templates/base.html" %}


{% block content_block %}
  <div class="row">
    <div class="column">
      <img src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA13111_hires.jpg" />
    </div>
  </div>
  <h1>Cosmic Python</h1>
  <h2>Simple patterns for building complex applications</h2>
  <p>
    <em>
      (Because "Cosmos" is the
      <a href="https://www.goodreads.com/quotes/604655-cosmos-is-a-greek-word-for-the-order-of-the">opposite of Chaos</a>,
      you see)
    </em>
  </p>

  <h1>The Book</h1>
  <ul>
    <li>
      Read for free from the sources using Github previews:
      <a href="https://github.com/cosmicpython/book#table-of-contents">github.com/cosmicpython/book</a>
    </li>

    <li>
      Read in Early Release via O'Reilly Learning (aka Safari) 
      <a href="https://learning.oreilly.com/library/view/architecture-patterns-with/9781492052197/">learning.oreilly.com</a>
    </li>

    <li>
    Preorder on [Amazon.com](https://amzn.to/37pR2DH) or [Amazon.co.uk](https://amzn.to/38CmFu1)


{% endblock %}

